<html>
	<head>
		<title>Canvas</title>
	</head>
	<body>
		<canvas id="canvas"></canvas>

		<!-- BOWER COMPONENTS -->
		<script type="text/javascript" src="../lib/lodash.compat.js"></script>
		<script type="text/javascript" src="../lib/jquery.js"></script>
		<script type="text/javascript" src="../lib/reconnecting-websocket.js"></script>
		<script type="text/javascript" src="../lib/Please.js"></script>
		<!-- HOME MADE BREWS -->
		<script type="text/javascript" src="../scripts/canvas.js"></script>
	</body>
</html>